:root {
  /* border line */
  --solid-border: 5px solid black;
  --radius-border: 10px;

  /* size */
  --size-background-width: 800px;
  --size-background-height: 500px;
  --size-gamebtn-width: 60px;
  --size-gamebtn-height: 60px;
  --size-timer-width: 100px;
  --size-popup-width: 400px;
  --size-popup-height: 140px;
  --size-score: 50px;
  --size-icon-gamebtn: 24px;
  --size-icon-refesh: 24px;
  --size-icon-timer: 32px;
  --size-font-score: 38px;
  --size-font-popup-msg: 38px;

  /* color */
  --color-bg-gamebtn: wheat;
  --color-bg-score: salmon;
  --color-bg-refrsh: wheat;

  /* animation */
  --anim-duration: 300ms;

  /* border */
  --border-gamebtn: 4px solid black;
  --border-score: 3px solid black;
  --border-refreshbtn: 2px solid black;
  --border-radius: 20px;

  /* space */
  --base-margin: 8px;
  --base-padding: 20px;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.game {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: url("img/background.png") center/cover;
  width: var(--size-background-width);
  height: var(--size-background-height);
  border-radius: var(--border-radius);
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: var(--size-gamebtn-width);
  height: var(--size-gamebtn-height);
  background-color: var(--color-bg-gamebtn);
  border: var(--border-gamebtn);
  font-size: var(--size-icon-gamebtn);
  transition: all var(--anim-duration) ease-in;
  visibility: visible;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: var(--size-timer-width);
  background-color: white;
  text-align: center;
  border: var(--border-gamebtn);
  font-size: var(--size-icon-timer);
  margin-top: var(--base-margin);
  border-radius: var(--border-radius);
  user-select: none;
  cursor: auto;
  visibility: hidden;
}

.game__score {
  text-align: center;
  width: var(--size-score);
  height: var(--size-score);
  background-color: var(--color-bg-score);
  color: white;
  border-radius: 50%;
  font-size: var(--size-font-score);
  margin-top: var(--base-margin);
  border: var(--border-score);

  user-select: none;
  cursor: auto;
  visibility: hidden;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.carrot,
.bug {
  transition: all calc(var(--anim-duration) / 3) ease-in;
  user-select: none;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}

.pop-up {
  display: block;
  margin: auto;
  width: var(--size-popup-width);
  height: var(--size-popup-height);
  padding: var(--base-padding);
  background-color: #00000090;
  color: white;
  text-align: center;
  transform: translateY(-150%);
  border-radius: var(--border-radius);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: var(--size-gamebtn-width);
  height: var(--size-gamebtn-height);
  font-size: var(--size-icon-refesh);
  background-color: var(--color-bg-refrsh);
  border: var(--border-refreshbtn);
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: var(--size-font-popup-msg);
}
