:root {
  /* border line */
  --solid-border: 5px solid black;
  --radius-border: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background: url("img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  text-align: center;
  margin-top: 50px;
}

.start-btn {
  font-size: 40px;
  background-color: darksalmon;
  padding: 20px;
  border-radius: var(--radius-border);
  border: var(--solid-border);
  transition: all 300ms ease-in;
}

.start-btn:hover {
  transform: scale(1.1);
}

.timer {
  width: 200px;
  height: 70px;
  background-color: white;
  margin-top: 10px;
  border: var(--solid-border);
  border-radius: var(--radius-border);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
}

.timer span {
}

.counter {
  margin: auto;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: orange;
  font-size: 60px;
  border: 2px solid black;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.field {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48vh;
}

.item {
  position: absolute;
  transition: all 300ms ease-in;
}

.item:hover {
  transform: scale(1.1);
}

.field:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
  display: none;
}

.restart-btn {
  font-size: 40px;
  background-color: darksalmon;
  width: 80px;
  height: 80px;
  border-radius: var(--radius-border);
  border: var(--solid-border);
  transition: all 300ms ease-in;
}

.restart-btn:hover {
  transform: scale(1.1);
}

.gameover.active {
  display: flex;
}
